@import "/src/styles.scss";

.home {

  &__in-stock-title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: $primary;
    letter-spacing: 1.5;
    border-bottom: 1px solid $primary;
    padding-bottom: 30px;

    @media (min-width: 1024px) {
      width: 50%;
    }
  }
}
