<section class="home">
  <app-video-banner></app-video-banner>
  <div class="container">
    <div class="row spacing">
      <div class="col-12" data-aos="fade-up">
        <div class="home__welcome">
          <p>Welcome to Green & Gold, your <strong>premium</strong> destination for curated cannabis experiences. Explore our selection of <strong>greenhouse, indoor, and outdoor-grown strains</strong>, featuring a harmonious blend of sativa and indica varieties. Elevate your journey with the finest in quality and choice.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row spacing">
      <div class="col-12">
        <div class="home__in-stock-title">
          In Stock
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <app-product-type title="Indoor" img="assets/images/indoor.jpg"></app-product-type>
      </div>
      <div class="col-12 col-lg-3">
        <app-product-type title="Green House" img="assets/images/greenhouse.jpg"></app-product-type>
      </div>
      <div class="col-12 col-lg-3">
        <app-product-type title="Outdoor" img="assets/images/outdoor.jpg"></app-product-type>
      </div>
    </div>
  </div>
</section>
