<section class="video-banner">
  <div class="video-banner__video">
    <div class="video-banner__overlay"></div>
    <video id="bg-video" autoplay muted loop>
      <source src="assets/images/home-bg.mp4" type="video/mp4">
      <source src="assets/images/home-bg.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
  <p id="demo" hidden></p>
  <div class="video-banner__content">
    <div class="video-banner__title">
      <h1>
        Beyond Boundaries: <br /> <span class="green">Green</span> & <span class="gold">Gold's</span> <br /> Unleashing the Power of Premium Cannabis.
      </h1>
      <div class="video-banner__tagline">
        Cultivating Good Vibes, One Bud at a Time.
      </div>
    </div>

  </div>
</section>
