.navbar {
  z-index: 9;

  .nav-link {
    font-size: 18px;
    font-weight: 500;
  }

  .navbar-brand {
    img {
      width: 140px;
      height: auto;
    }
  }

  .navbar-collapse {
    @media (min-width: 1024px) {
      margin-left: 100px;
    }
  }
}
